@font-face {
    font-family: 'Dilana';
    src:url('fonts/Dilana.ttf.woff') format('woff'),
        url('fonts/Dilana.ttf.svg#Dilana') format('svg'),
        url('fonts/Dilana.ttf.eot'),
        url('fonts/Dilana.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lazy-Dog';
    src:url('fonts/Lazy-Dog.ttf.woff') format('woff'),
        url('fonts/Lazy-Dog.ttf.svg#Lazy-Dog') format('svg'),
        url('fonts/Lazy-Dog.ttf.eot'),
        url('fonts/Lazy-Dog.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

/* || general  */
* {
    margin:0;padding:0;
    box-sizing: border-box;
}
*:focus { outline:none; }
a {text-decoration: none;}

/* || body */
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
#page-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* || windows */
.max-space {
    flex: 1;
    height: 100%;
    width: 100%;
    align-items: center;
    align-self: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    display: flex;
}

.min-space {
    margin: 4rem;
    align-items: center;
    align-self: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    display: flex;
}

.window {
    background: white;
    border: 5px solid black;
    border-radius: 2vh;
    display: flex;
    padding: 3rem;
}

/* || page navigation */
.page {
    /* height: 100vh; */
    /* width: 100vw; */
    /* width: 100%; */
    height: 100%;
    /* position: fixed; */
    z-index: 0;
    visibility: hidden;
    justify-content: space-around;
    display: flex;
}

.page:target {
    visibility: visible;
}

.page:not(:target) {
    position: fixed;
    visibility: hidden;
    height: 0; width:0;
}

/* || chat */
#chat-container {
    flex: 0;
    /* visibility: hidden; */
    display: flex;
    flex-direction: column;
}

#chat-messages {
    height: 15vh;
    width: 100%;
    border: 2px solid grey;
    overflow-y: auto; 
    background: white;
    flex: 1 0 15vh;
}

#message-form {
    flex: 1;
    display: flex;
}

#message-input {
    flex: 10;
}

#send-button {
    flex: 0 0 4rem;
}

.messages {
    list-style: none;
}

li.info {
    color: grey;
}
li.chat {
    color: black;
}

/* || landing */

#landing {
    /* align-items: center; */
}

#landing-container {
    max-width: 50rem;
    width: 100%;
    background: #ef7718;
}

h1 {
    font-weight: 100;
    font-size: 10em;
    font-family: Dilana;
    color: #423b45;
    text-shadow:
    4px 4px 0 #f6dca9,
    -4px 4px 0 #f6dca9,
    -4px -4px 0 #f6dca9,
    4px -4px 0 #f6dca9;
    flex: 0;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}

#username-form {
    width: 80%;
    /* border: 1px solid blue; */
    align-items: center;
    justify-content: space-around;
    display: block;
}


#username {
    font-family: 'Lazy-Dog', cursive;
    font-size: 4rem;
    padding: 2rem 0 ;
    border: none;
    background: none;
    color: #44160e;
}

#username::placeholder {
    color: #44160e;
    opacity: 50%;
}

#username-form button {
    font-family: 'Lazy-Dog', cursive;
    font-size: 3rem;
    flex: 1;
    border: 5px solid black;
    margin: 0;
    width: 100%;
    padding: 3vh;
}
#username-form button:hover {
    background: grey;
}


/* || lobby-actions */

#lobby-actions {
    flex-direction: row;
    align-items: center;
    padding: 4rem;
    gap: 2rem;
    flex-wrap: wrap;
}

#create-lobby,
#join-lobby {
    font-family: 'Lazy-Dog', cursive;
    height: 40vh;
    flex: 1 0 20rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    font-size: 5rem;
    color: black
}


/* || open lobby */

#open-lobby {
    padding: 4rem;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
}


/* lobby selection */




.info-area {
    background: grey;
    padding: 1vh;
}

.user-area {
    align-self: flex-end;
    /* position: fixed; */
    bottom: 0px;

    background: blue;
    /* border: 3px solid white; */
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
}



/* || Cards being played  */

.playing-area {
    width: 100%;
    height: 100vh; 
    overflow: scroll;
}


#played {
    overflow: auto;
    /* border: 3px solid black; */
    align-self: center;
    flex: 0 0 auto;
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-start;
    /* top right bottom left (bottom large to keep cards visible)*/
    padding: 2vh 6vh 40vh 6vh ;
    gap: 2vh;
}
#played .card {
    transform-origin: top center;
}

#hand {
    /* border: 3px solid green; */
    margin-bottom: 1vh;
    align-self: center;
    display: flex;
    justify-content: space-around;
    gap: 0vh;
    width: 80%;

}
#hand .card {
    transform-origin: bottom center;
    margin: 0 -6vh;
}



.card:hover {
    transform: scale(2);
    z-index: 1;
    border: 5px solid yellow;
    cursor: pointer;
}

.card {
    transition: 
        transform 0.2s ease-in-out, 
        border 0.4s ease-in-out;
    flex: 0;
    aspect-ratio: 0.66;
    height: 18vh;
    min-width: 12vh;
    object-fit: cover;
    border: 5px solid grey;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
}

.card.selected {

    border: 5px solid green;
}

