* {margin:0;padding:0;box-sizing: border-box;}

.game {
    display: flex;
}

.user-area {
    align-self: flex-end;
    position: fixed;
    bottom: 0px;

    /* background: blue; */
    border: 3px solid white;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
}



#chat-container {
    display: flex;
    flex-direction: column;
}

#chat-messages {
    height: 15vh;
    width: 100%;
    border: 2px solid grey;
    overflow-y: auto; 
    background: white;
    flex: 1 0 15vh;
}

#message-form {
    flex: 1;
    display: flex;
}

#message-input {
    flex: 10;
}

#send-button {
    flex: 0 0 4rem;
}

.messages {
    list-style: none;
}

li.info {
    color: grey;
}
li.chat {
    color: black;
}



.playing-area {
    /* border: 10px solid red; */
    width: 100%;
    height: 100vh; 
    /* overflow-y: scroll; */
    /* overflow-y: scroll; */
    /* overflow: auto; */
    overflow: scroll;
}


#played {
    overflow: auto;
    /* border: 3px solid black; */
    align-self: center;
    flex: 0 0 auto;
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-start;
    /* top right bottom left (bottom large to keep cards visible)*/
    padding: 2vh 6vh 40vh 6vh ;
    gap: 2vh;
}
#played .card {
    transform-origin: top center;
}

#hand {
    border: 3px solid green;
    align-self: center;
    display: flex;
    justify-content: space-around;
    gap: 0vh;
    width: 80%;

}
#hand .card {
    transform-origin: bottom center;
    margin: 0 -6vh;
}



.card:hover {
    transform: scale(2);
    z-index: 1;
    border: 5px solid yellow;
    cursor: pointer;
}

.card {
    transition: 
        transform 0.2s ease-in-out, 
        border 0.4s ease-in-out;
    flex: 0;
    aspect-ratio: 0.66;
    height: 18vh;
    object-fit: cover;
    border: 5px solid grey;
    border-radius: 5px;
    box-sizing: border-box;
}

